%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if alert
      %p
        .h4.text-center.color-red
          Uwaga: #{alert}
    - elsif notice
      %p
        .h4.text-center.color-blue
          Spokojnie: #{notice}

    =yield